{% extends 'games/base.html' %}


{% block title %}
    Arcade Games
{% endblock %}
{% block components %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'games/css/styles-general-page.css' %}">
{% endblock %}
{% block body %}
    <section>
        <div>
            <h1>Arcade games</h1>
            <h2>Развлекайся и развивайся</h2>
            <div class="button_box">
                <a href="{% url 'games:keyboard' %}" style="--clr:#5fee2f"><span>Клава гонки</span>
                    <i></i></a>
            </div>
        </div>

    </section>
{% endblock %}