{% extends 'games/base.html' %}

{% block title %}
    Клава гонки
{% endblock %}

{% block components %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'games/css/styles-keyboard-race.css' %}">
    <script src="{% static 'games/js/script.js' %}" defer></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div id="root"></div>
    <div class="work" id="work"></div>
    <div class="timer" id="timer"></div>
    <div class="container">
        <div class="quote-display" id="quoteDisplay"></div>
        <textarea id="quoteInput" class="quote-input" autofocus></textarea>
    </div>
{% endblock %}