{% extends 'games/base.html' %}

{% block title %}
    Личная страница
{% endblock %}
{% block components %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'games/css/styles-personal-page.css' %}">
{% endblock %}
{% block body %}
    <section>
        {% if user.is_authenticated %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>Ваш рекорд {{ user.point.record }} симв/мин</p>
                    <div class="button_email">
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                        <a href="{% url 'mailauth:logout' %}" class="btn btn-warning">Выйти</a>
                    </div>
                </form>


            </div>
        {% else %}
            <h1>Вы не авторизованы</h1>
            <div>
                <a href="{% url 'mailauth:login' %}">Авторизация</a>
                <a href="{% url 'mailauth:register' %}">Регистрация</a>
            </div>
        {% endif %}
    </section>
{% endblock %}