{% extends 'mailauth/base.html' %}

{% block title %}
    Войти
{% endblock %}

{% block body %}
    <section>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Войти</button>
        </form>
        <div class="auth_button">
            <button class="btn btn-secondary"><a href="{% url 'mailauth:register' %}">Регистрация</a></button>
            <button class="btn btn-success"><a href="{% url 'mailauth:login' %}">Авторизация</a></button>
        </div>
    </section>
{% endblock %}